<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="modulepreload" href="/js/App.js" as="script" />
    <link rel="modulepreload" href="/js/<%= preloadScript %>" as="script" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta property="og:title" content="<%= metaInfo.ogTitle %>" />
    <meta property="og:description" content="<%= metaInfo.ogDescription %>" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= metaInfo.ogUrl %>" />
    <meta property="og:image" content="<%= metaInfo.ogImage %>" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" type="image/png" href="<%= metaInfo.favIcon %>" />
    <link rel="apple-touch-icon" href="<%= metaInfo.favIcon %>" />
    <link href="/css/tailwind.css" rel="stylesheet" />
    <link href="/css/main.css" rel="stylesheet" />
    <link rel="manifest" href="<%= metaInfo.ogUrl %>/manifest.json">
    <link
            rel="alternate"
            type="application/json+oembed"
            href="<%= urls.jam %>/_/integrations/oembed?url=<%= metaInfo.ogUrl %>"
    >
    <title><%= metaInfo.ogTitle %></title>
</head>
<body>
<div id="root"></div>
<script>
    window.jamConfig = <%- jamConfigString %>;
    window.existingRoomInfo = <%- roomInfoString %>;
    window.existingRoomId = <%- roomIdString %>;
</script>
<script type="module" src="/js/App.js"></script>
</body>
</html>
